img {
    height: 450px;
    width: 700px;
}

.btn_align {
    float: right;
}

/* .test{
    height: 500px;
    width: 1250px;
    margin-left: 6.5%
} */

.display-3 {
    color: black;
    text-align: left;
}
.display-4 {
    color: black;
}

.display-5 {
    color: black;
    text-align: left;
}

.Specie{
    text-align: left
}

.lista{
    text-align: left
}